{% extends 'grading/base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'grading/css/style.css' %}">
{% endblock %}

{% block title %}Hinded{% endblock %}

{% block content %}
  <h1 style="color: white" class="text-center mt-4 mb-5">Tulemused</h1>
  <table class="table table-light table-striped" style="background-color: lightblue">
    <thead>
    <tr>
      <th scope="col" width="8%">#</th>
      <th scope="col" width="15%">Eesnimi</th>
      <th scope="col" width="15%">Perenimi</th>
      <th scope="col" width="15%">Matriklinumber</th>
      <th scope="col" width="10%">Uni-ID</th>
      <th scope="col" width="10%">Plagiaat</th>
      <th scope="col" width="10%">Tulemus</th>
      <th scope="col" width="10%">Kommentaar</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ student.firstname }}</td>
        <td>{{ student.lastname }}</td>
        <td>{{ student.student_code }}</td>
        <td>{{ student.uniid }}</td>
        <td>{% if student.plagiarism %}<span class="badge badge-pill badge-danger">Plagiaat</span>{% else %}
          <span class="badge badge-pill badge-success">Korras</span>{% endif %}</td>
        <td>{{ student.points }}</td>
        <td>
          <button type="button" class="badge badge-secondary" data-toggle="modal" data-target=#{{ student.uniid }}>Loe</button>

          <!-- Modal -->
          <div class="modal fade" id="{{ student.uniid }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Kommentaar tööle</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {% if not student.kommentaar %}Puudub{% else %}{{ student.kommentaar }}{% endif %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulge</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
